[2013-05-24 19:33] cadorn opened #1 "Move openpeer client JS to github.com/openpeer/op-identity-provider-client-js"
Once moved, declare dependency via http://getcomposer.org/

See: https://github.com/openpeer/op-identity-provider-client-js/issues/3

[2013-05-24 23:41] cadorn opened #2 "Install Instructions"
Everything I need to do from cloning this repo to setting up the different auth strategies to testing it.

[2013-05-25 11:12] adriano-maljkovic commented on #2
After cloning the repo, you need to setup an apache server. You need MySQL and PHP installed. That should be enaugh to setup the server.

For the server to get a correct config file, you need to create one in the server/var/www/app/config/ directory. the config.php will know which config file to look at based on the name of the file and the domain the server is running on. For example, if you setu

[2013-05-25 11:13] adriano-maljkovic commented on #1
Please address javascript issues to Andrej Solar.

[2013-06-20 22:30] cadorn opened #3 "Implement `identity-access-rolodex-credentials-get`"
See: http://docs.openpeer.org/OpenPeerProtocolSpecificationAnnexRolodex/#IdentityServiceRequestsAnnex-IdentityAccessRolodexCredentialsGetRequest

[2013-06-21 05:47] adriano-maljkovic commented on #3
@cadorn, how do I generate the serverToken to be returned as a result? How is it gonna be used? I suppose the middle section of it is a timestamp, but what is the first and the third one?

Thanks in advance

[2013-06-21 06:50] adriano-maljkovic commented on #2
Also, to setup the database, execute the server/var/www/app/setup/provider_db.sql

[2013-06-21 16:14] cadorn commented on #3
Something like:

[code]

For github and facebook we just need the `token` so the other fields can stay blank or can be omitted.

The `<sharedSecret>` we put in the configuration file of the identity provider and rolodex.

@robin-raymond We should probably codify this in the spec so we can ensure identity providers and rolodexes are compatible.

[2013-06-24 08:21] adriano-maljkovic commented on #3
As set in the documentation, in the request, under identity data set, the outer frame sends the "provider" tag among others. That provider tag is not needed in this situation.

Clarification: It is only needed when an identity access validation is being used through an HCS service in order for the service to know with which identity provider to perform the validation. However, when the validation

[2013-06-24 12:09] adriano-maljkovic commented on #3
I finished it for facebook. Haven't had a chance to try it, since we are facing some server issues with permissions today.

[2013-06-24 12:50] adriano-maljkovic commented on #3
Done for LinkedIn, too.

[2013-06-24 12:52] adriano-maljkovic commented on #3
Maybe there can come some issues out with the encrypt/decrypt process. FYI, I'm using these:

[code]

[2013-06-24 13:29] adriano-maljkovic commented on #3
@cadorn This won't work, There is a bug in the encrypt/decrypt functions I'm using. Will have to finish tomorrow...

[2013-06-24 16:28] cadorn commented on #3
You need to prefix the `<iv>` to the token as you need to use the same IV during decryption.

[2013-06-25 11:19] adriano-maljkovic commented on #3
@cadorn - done, you can try :)

[2013-07-04 14:29] adriano-maljkovic opened #4 "Hosting Data Returned On Login"
As a result for the login request, among other stuff, the server should return the hosting data which is consisted of the hostingProof and expiry.

It should be given in this format:
"hostingData": {
  "nonce": "ghjg3y467trfyutfr67u5r345",
  "hostingProof": "bg8fi674trystgye5t897t458utseou5t8964st89s5t76",
  "hostingProofExpiry": 3744896567
}

[2013-07-04 14:30] adriano-maljkovic commented on #4
@andrejsolar Please be aware of the format given here...

[2013-07-17 20:55] cadorn commented on #3
@adriano-maljkovic Where can I find the shared secret?

[2013-07-17 20:59] cadorn commented on #3
@adriano-maljkovic What is the format of the token? Does it follow this:?

[code]

[2013-07-18 00:42] cadorn commented on #3
@adriano-maljkovic See hipchat HCS room for more details.

[2013-07-29 17:11] cadorn commented on #3
@adriano-maljkovic @robin-raymond did you get the encryption/decryption working between PHP and C/OpenSSL?

[2013-07-31 12:38] adriano-maljkovic opened #5 "Install PHP >= 5.4."
Install PHP >= 5.4. on Lockbox instance in order for hex2bin() to be possible.

After that reassign back to me, so that I can refactor accordingly.

[2013-07-31 17:30] cadorn opened #6 "Add `identity://github.com` support"
Add support for `identity://github.com`

[2013-07-31 18:15] cadorn opened #7 "Fix login for `identity://twitter.com/`"
When `identity-access-start` is sent for `identity://twitter.com/` the inner frame does nothing.

[2013-07-31 18:35] cadorn opened #8 "Wrong redirect URL after login with `identity://facebook.com/`"
After posting to inner frame: https://gist.github.com/cadorn/9eb4d0e2337380da5fd0

And completing facebook oauth I get redirected to my outerFrameURL but with a request appended to it: `http://localhost:8081/test/stack/41-AccountFinder-Live&%7B%22result%22%3A%7B%22loginStat ...`

[2013-08-02 10:51] adriano-maljkovic commented on #8
After the OAuth authentication success, no other redirections should happen, but the pure callback redirect (exact outer frame URL). The server could store the data inside the cookie, and just redirect back to the callback URL. After the outer frame initiates loading of the inner frame (which is on the same domain as the identity provider server) it can read the cookie and perform the login reques

[2013-08-02 11:04] adriano-maljkovic opened #9 "Fix login for LinkedIn"

[2013-08-02 12:08] adriano-maljkovic opened #10 "Add hosted-identity-update Request"
This request should be called from server side of identity provider to identity service.

It is needed for the identity service to be able to know the profile data of a user (avatars, profile, vprofile, feed, displayName).

The request should be called upon sign-up (for federated identities) and upon OAuth authentication if a new identity is being created. Also, should happen when a user changes i

[2013-08-02 12:10] adriano-maljkovic commented on #10
https://github.com/openpeer/hcs-system/issues/17

[2013-08-02 12:11] adriano-maljkovic opened #11 "JS side support for profile data given on sign-up"
Add support from JS side to be able to upload avatars and give displayNames for the users that are about to sign-up.

[2013-08-02 12:12] adriano-maljkovic commented on #11
https://github.com/openpeer/hcs-system/issues/17
https://github.com/openpeer/op-identity-provider-server-php/issues/10

[2013-08-02 12:14] adriano-maljkovic opened #12 "Return HostingData On Login (Server side)"
HostingData should be returned upon login to the JS side, since it needs it for the hosted-secret-part-get/set.

[2013-08-02 12:14] adriano-maljkovic opened #13 "Read HostingData From Login Result (js side)"
https://github.com/openpeer/hcs-system/issues/18
https://github.com/openpeer/op-identity-provider-server-php/issues/12

[2013-08-02 12:19] adriano-maljkovic opened #14 "Fix hosted-secret-part-get/set (js side)"
Use hostingData given by server upon login to perform hosted-secret-part-get and hosted-secret-part-set.

https://github.com/openpeer/op-identity-provider-server-php/issues/13

[2013-08-02 12:29] predragmandic commented on #5
Installed **PHP 5.4.17** and **httpd24**. Everything works with exception to SSL when using private key with passphrase. When httpd is started it calls **/usr/libexec/httpd-ssl-pass-dialog** which is a script that wraps **/bin/systemd-ask-password** which doesn't exist on the system.

[2013-08-02 12:35] #2 closed, assigned to nobody

[2013-08-02 12:35] #1 closed, assigned to nobody

[2013-08-02 12:39] adriano-maljkovic commented on #3
Strange, I don't remember being notified for this comment...
@cadorn no, still not. I did implement stuff like you showed in the crypto.php and was able to encrypt/decrypt myself, and with that I mean that I had the same results as you for the example on HCS.

[2013-08-02 12:39] adriano-maljkovic commented on #3
Done

[2013-08-02 12:39] #3 closed, assigned to nobody

[2013-08-02 12:40] adriano-maljkovic commented on #12
As a result for the login request, among other stuff, the server should return the hosting data which is consisted of the hostingProof and expiry.

It should be given in this format:
"hostingData": {
"nonce": "ghjg3y467trfyutfr67u5r345",
"hostingProof": "bg8fi674trystgye5t897t458utseou5t8964st89s5t76",
"hostingProofExpiry": 3744896567
}

[2013-08-02 12:42] adriano-maljkovic commented on #4
Duplicate of : https://github.com/openpeer/op-identity-provider-server-php/issues/12

[2013-08-02 12:42] #4 closed, assigned to nobody

[2013-08-02 12:43] adriano-maljkovic commented on #5
Fix the usage of hex/bin accordingly.

[2013-08-05 19:11] adriano-maljkovic opened #16 "Update SQL Setup File"
Update SQL setup file with the latest database setup.

[2013-08-05 19:20] adriano-maljkovic opened #17 "Register identity.hookflash.me"
- register identity.hookflash.me with HCS on Lockbox instance using test client as Customer Portal.
- setup all the id provider configuration based on what Java returned as a result of provider-create

[2013-08-05 19:26] adriano-maljkovic opened #18 "SMS and SMTP Configs"
Make sure SMS and SMTP configs aren't compromised by auto-deploy, just the same as for config.php. These files are in the ...app/config/special/ directory

[2013-08-05 19:37] cadorn opened #19 "fix include for http://identity.hookflash.me/test/"

[2013-08-05 21:42] cadorn commented on #18
Config is setup; you just need to set the private values.

[2013-08-05 21:43] cadorn commented on #18
See commit above for where config file you need to edit is.

[2013-08-05 21:44] cadorn commented on #17
@adriano-maljkovic Let's get the customer portal deployed and working on the new server and then register an application for identity.hookflash.me just as any client would.

[2013-08-05 21:45] #5 closed, assigned to nobody

[2013-08-06 06:20] adriano-maljkovic commented on #16
Done.

[2013-08-06 06:20] #16 closed, assigned to nobody

[2013-08-09 11:40] adriano-maljkovic commented on #10
Done

[2013-08-09 11:40] #10 closed, assigned to nobody

[2013-09-16 21:41] robin-raymond opened #20 "identity is not normalized"
Robin is not same username as robin

identity://foo.com/robin

We should normalize all usernames that are case insensitive so the identity URI is stable / identical.

[2013-09-16 21:44] robin-raymond opened #21 "Identity provider supports rolodex but identity does not"
http://docs.openpeer.org/OpenPeerProtocolSpecificationAnnexRolodex/

rolodex-credentials-get should return error code result from inner frame to outer-frame when identity provider supports rolodex but particular identity does not.

[2013-09-16 21:48] robin-raymond opened #22 "facebook login stuck"
If you login to facebook, it completes but window remains open and never completes. identity-login-complete notification never fires.

https://gist.github.com/robin-raymond/b4040d6699b7d5a4bc79

[2013-09-17 03:59] #21 closed, assigned to nobody

[2013-09-17 04:54] cadorn commented on #22
Made some progress:

[code]

[2013-09-18 03:26] cadorn commented on #22
@Adriano I pushed HF.js changes to https://github.com/openpeer/op-identity-provider-server-php/tree/newsetupmerge

We now get `{\"result\":{\"error\":{\"reason\":{\"$id\":500,\"#text\":\"INTERNAL_SERVER_ERROR\"}}}}` after posting to: https://hcs-javascript.hookflash.me/password2

Here are test links you can run assuming the timestamps have not expired:

[code]

[2013-09-18 20:25] cadorn commented on #22
Fixed curl call:

  curl -v -H "Content-Type: application/json" --data '{"request":{"$domain":"idprovider-javascript.hookflash.me","$id":"594790","$handler":"identity","$method":"hosted-identity-secret-part-set","nonce":"c3f613bc474936a4f6f73ce7bb24c00242827d78","hostingProof":"3faba4af5fdbdc625e19ff279cd64d0ebd82bccc","hostingProofExpires":1379559737,"clientNonce":"674319","identity":{"accessToke

[2013-09-18 22:05] cadorn commented on #22
@adriano-maljkovic
I pushed and uploaded the fixes we discussed: https://github.com/openpeer/op-identity-provider-server-php/commit/ecaa71f2bbe19c03e216cf097f3c2cbf1b39bd0f

I think the secretSalt value is wrong tough? Should it not come from the first arg passed to `generateSecretPart`?

[2013-09-19 12:13] adriano-maljkovic commented on #22
https://gist.github.com/adriano-maljkovic/6622522

[2013-09-19 12:14] adriano-maljkovic commented on #22
@cadorn there is an Invalid Array Length error now. I can't see what's wrong...

[2013-09-20 01:32] cadorn commented on #22
@adriano-maljkovic @robin-raymond Update:
- I fixed rolodex token encryption in PHP to be compatible with rolodex
- Client is now calling rolodex and seems to be authenticating

2 problems:

 1) The facebook API token robin's account was given is expired (or I think it is for some reason). I send a 424 error back to client which should then call http://docs.openpeer.org/OpenPeerProtocolSpecificati

[2013-09-20 11:28] adriano-maljkovic commented on #22
I added the support inside the JS side for the flag in case of expired access token. Client just needs to send a standard identity-access-rolodex-credentials-get with "oauthTokenExpired": true.

!!! BUT !!!
1) it won't work unless the inner frame is alive all the way from the last identity-access-start notification, since it needs the data from that request.
2) It will end up as a standard identit

[2013-09-20 13:00] robin-raymond commented on #22
I can't imagine the token expires upon first login. Something else might be wrong. We might need to handle this scenario, but can you verify this is the trouble?

[2013-09-20 17:19] cadorn commented on #22
Lets forget about (1). It updates the token every time it goes to idprovider for oauth so no need to send a special flag. So if client gets a 424, just go through the whole idprovider outh process again and then call IdentityAccessRolodexCredentialsGetRequest

[2013-09-20 17:55] cadorn commented on #22
@robin-raymond  DB table column storing access token was too short and thus I was using a truncated token which facebook deemed invalid. Fixed now.

[2013-09-20 22:07] cadorn commented on #22
Fixed!

[2013-09-20 22:07] #22 closed, assigned to nobody

[2013-09-20 22:08] #19 closed, assigned to nobody

[2013-09-22 10:19] adriano-maljkovic commented on #22
It's alright to close the issue, since facebook is now working. But, we definitelly need a way to get the new token in case the old one expired. Rolodex will need a way to inform the client that the token is invalid due expiry, and thus Core should initiate the login via facebook sequence. We should definitelly handle this, too, but with a priority of a side-scenario.

[2013-09-28 21:33] cadorn commented on #20
@robin-raymond During which calls is this identity returned? I think I return the ID of the user now instead of a username.

[2013-09-30 13:22] adriano-maljkovic opened #23 "Handle Sign-up With Existing User"
If existing username is sent in a sign-up request, the server will respond in:

{
    "result": {
        "$domain": "provider.com",
        "$id": "abc",
        "$handler": "identity-provider",
        "$method": "sign-up",
        "$epoch": "1380547206",
        "error": {
            "reason": {
                "$id": "403",
                "message": "Identity already exists: identity of type

[2013-09-30 13:25] adriano-maljkovic opened #24 "Normalize Username"
All usernames entered by a client should be normalized on JS side before being passed to any server. The normalization means to lower-case.

[2013-09-30 13:51] adriano-maljkovic opened #25 "Handle Wrong Password Scenario"
On wrong password scenario the JS side should be behaving as:

Login failed due to wrong password typed!

[2013-09-30 13:55] adriano-maljkovic commented on #25
In the scenario, the server will behave like this:

[code]

[2013-09-30 16:37] adriano-maljkovic opened #26 "Parameter Name Not Being Sent On Sign-up"
Here is identity service's behavior:
https://gist.github.com/robin-raymond/365ba504527e4dfe328c

The "name" field is returned empty because it is not set in the database. It can be set only upon sign-up on identity provider, when identity provider sends hosted-identity-update. That request is checked and works correctly.

So, the issue is most probably that JS does not send "name" to PHP service o

[2013-09-30 20:04] #25 closed, assigned to nobody

[2013-09-30 20:04] cadorn opened #28 "Cleanup UI"

[2013-09-30 22:22] cadorn commented on #24
@robin-raymond Fixed. Please test signup with username camel cased and then login with all upper case for example.

[2013-09-30 22:40] cadorn commented on #23
@robin-raymond Fixed. Please try.

[2013-10-01 00:01] cadorn commented on #26
@robin-raymond Should be fixed. Signup new federated identity and the name should come through.

[2013-10-01 00:48] #20 closed, assigned to nobody

[2013-10-01 01:28] cadorn opened #29 "Don't set `$appid: "com.hookflash.OpenPeerSampleApp",`"

[2013-10-01 01:28] #24 closed, assigned to robin-raymond

[2013-10-02 00:29] #29 closed, assigned to nobody

[2013-10-02 00:53] cadorn commented on #8
@adriano-maljkovic Where the the URL with the `reload=true` and various other parameters generated? Does facebook set that or do we? Where do we set the callback URL that facebook calls?

[2013-10-02 07:24] adriano-maljkovic commented on #8
@cadorn
"Where the the URL with the reload=true and various other parameters generated?"
- It is defined by openpeer spec. Check http://docs.openpeer.org/OpenPeerProtocolSpecification/#IdentityServiceRequests-IdentityAccessStartNotification as well as
  http://docs.openpeer.org/OpenPeerProtocolSpecification/#NamespaceGrantServiceRequests-NamespaceGrantStartNotification

"Where do we set the callba

[2013-10-02 19:35] cadorn commented on #8
Added more logging calls so I can see what is going on.

[2013-10-03 01:55] cadorn opened #30 "If facebook API token working don't oauth again on relogin"

[2013-10-03 15:58] robin-raymond commented on #23
@cadorn yes, works, error messages need to be tidied on UI though

[2013-10-03 15:59] robin-raymond commented on #26
Resolved.

[2013-10-03 15:59] #26 closed, assigned to robin-raymond

[2013-10-03 19:01] cadorn commented on #23
UI cleanup is tracked in #28

[2013-10-03 19:01] #23 closed, assigned to nobody

[2013-10-04 17:06] cadorn opened #31 "Facebook login with less permissions and then re-auth does not work."
From https://github.com/openpeer/opios/issues/28:

I tracked down the problem. It was just with one Facebook account. When I first tried to sign in with it I pressed the button that said hookflash could not post on my wall. Afterwards I tried removing the app from...

https://www.facebook.com/appcenter/my

...and repeating the process. I guess there is account info on the provisioning server that

[2013-10-04 23:49] cadorn commented on #8
@adriano-maljkovic I have removed the need for the extra data in the reload URL.

Now the post-auth url is suffixed with `?reload=true&reload=true`. This needs to be removed as it is not needed any more. We should also remove the `?reload=true` from the URL in the spec.

Where is this reload=true still being set and why is it being set twice?

[2013-10-05 06:07] adriano-maljkovic commented on #8
@cadorn Sorry, I didn't quite answer your last question above, I thought you mean "where the reload=true is set"... Anyway, I see you were able to find other parameters.

Now, about reload=true, please check with @robin-raymond. I believe there is a valid reason to have it... And, it's set in the inner frame, again, as part of the OP protocol. (However, I don't know exactly where)

[2013-10-07 13:45] adriano-maljkovic commented on #8
@cadorn https://gist.github.com/adriano-maljkovic/6868249
- it's not outer frame bug
- it's not GUI side bug
- it's not core side bug
  So I'd say it must be inner frame bug - somewhere in var finishOAuthScenario = function(url) {...}

[2013-10-07 17:35] elagerway commented on #8
Seeing this in the telnet logs, I suspect it's the same bug?

17:24:19.572399 W: <0x3bce818c> ServiceIdentity [] identity URI is not valid, uri=identity://facebook.com/ @stack_ServiceIdentitySession.cpp(2764) [isValid]

[2013-10-07 18:34] robin-raymond commented on #8
@elagerway ignore that, it's not a proper identity uri, because it's an identity base uri, it's because we set to trace, and the lower level routine doesn't know if this is 'okay' or a 'problem', hence why it's a warning but it's totally fine.

[2013-10-08 01:15] cadorn commented on #8
@robin-raymond Do you add `[&?]reload=true` to the URL? Why to we have to add that. We don't need it as we can keep a state in the identity provider session.

[2013-10-09 06:16] elagerway commented on #9
We are going to need to support LinkedIn and Twitter soon, would be nice to see LinkedIn working in the sample app.

[2013-10-09 18:06] cadorn commented on #8
I found one place where extra info is added. I'll see if it can be removed. https://github.com/openpeer/op-example-www-outer/blob/ba606ef36627192b49af0fa597e98ed5c71581ff/outer.js#L82

[2013-10-10 05:29] adriano-maljkovic commented on #8
@cadorn That's it! I don't know how did it happen, but I definitely overlooked that, though I checked outer.js at least two times... Anyway, It's being set on GUI side, too. @robin-raymond Where is it more appropriate to be handled? Probably GUI, for then we can have outer.js nice and clean and focused on being a postman only?

[2013-10-10 11:09] robin-raymond commented on #8
@adriano-maljkovic the ios app send the "url upon reload" as part of the messaging, so makes sense that it would append reload= as part of it's function and not do that in JS at all

[2013-10-10 18:48] robin-raymond opened #32 "Autocorrect username on iOS?"
I don't think usernames should do the auto-typing correction

It's more frustrating than help. Possible to disable that from the signup / login form?

[2013-10-10 18:49] robin-raymond commented on #32
http://www.bennadel.com/blog/2307-Disabling-Auto-Correct-And-Auto-Capitalize-Features-On-iPhone-Inputs.htm

[2013-10-10 23:54] cadorn commented on #28
Done for now.

[2013-10-10 23:54] #28 closed, assigned to nobody

[2013-10-11 19:56] #32 closed, assigned to nobody

[2013-10-11 21:54] robin-raymond commented on #32
Very much appreciated! This one was driving me insane!

[2013-10-12 12:05] robin-raymond opened #33 "Example provider friends list for rolodex"
I've been thinking that the example provider should make an "auto friends list" for the rolodex. This list should include all friends under the same app ID.

This would make a good way to easily test the application by us and others but not create a massive impossible list over time since the list is scoped just to those whom share the same app ID.

What do you think?

cc: @adriano-maljkovic

[2013-10-12 17:02] cadorn commented on #33
I like it. How would the implementation work?

[2013-10-12 17:37] robin-raymond commented on #33
Since we control ID provider sample, ID provider DB needs to organize contacts by app ID (obviously), and rolodex service needs to use API exposed by ID provider to fetch contacts.

Very vague in details, I know but we should come up with an API though I suspect (and use that as a basis for making a generic rolodex API in the future between us [hosted service] and 3rd party ID providers [customer]

[2013-10-12 18:36] adriano-maljkovic opened #34 "Passing `appid` through JS"
appid not being passed out through JS to servers on various requests.

[2013-10-14 12:10] adriano-maljkovic commented on #33
This can easily be done after https://github.com/openpeer/op-identity-provider-server-php/issues/34 is fixed. I can perform the implementation if you'd like...

[2013-10-14 13:37] adriano-maljkovic commented on #34
Made progress. Not tested.

[2013-10-15 09:50] adriano-maljkovic opened #35 "Implement Cross-system database clearing mechanism - ID Provider side"
Once CPS gets the devtools-database-clean request, it will perform a devtools-database-clean-provider request on every provider listed in request.

Example:

[code]

[2013-10-15 11:58] adriano-maljkovic commented on #35
fixed by https://github.com/openpeer/op-identity-provider-server-php/commit/9d35677f233a72dd53e4bb610594944dfbbed324

[2013-10-15 11:58] #35 closed, assigned to nobody

[2013-10-16 21:39] cadorn opened #36 "Re-skin to look same as opios sample app"
@elagerway Where can I find the design files?

[2013-10-16 21:40] #17 closed, assigned to nobody

[2013-10-16 21:40] cadorn commented on #14
@adriano-maljkovic Is this fixed?

[2013-10-16 21:44] cadorn opened #37 "Streamline browser visibility"
Browser visible notification seems to get sent when not needed after facebook oauth.

Notification may also be sent too early before facebook oauth.

Another notification may get sent later with the grant service when already granted. (depends on https://github.com/openpeer/op-identity-provider-server-php/issues/38)

[2013-10-16 22:12] elagerway commented on #36
@SergioOpenPeer can help you out with that

[2013-10-16 22:18] elagerway commented on #36
https://github.com/openpeer/opios/tree/master/Samples/OpenPeerSampleApp/OpenPeerSampleApp/Images

[2013-10-17 05:32] adriano-maljkovic commented on #37
@cadorn it is supposed to be sent every time there is a possibility that it is set to invisible, but we need to have an interaction with user. Such as on oauth login scenario, on federated login scenario, or on nemaspace grant scenarios. However, it should be called to set visible=false on legacy e-mail or legacy-phone scenarios which will come shortly...

@robin-raymond please check my states ^

[2013-10-17 05:34] adriano-maljkovic commented on #14
@cadorn let's say yes, but the validation is commented out on Java side to speed up the testing process... I will create another ticket for that once we have a separate environment to test against...

[2013-10-17 05:34] #14 closed, assigned to nobody

[2013-10-17 21:15] cadorn commented on #36
The background is now the same and debug info is gone.

@SergioOpenPeer @robin-raymond If you append `?dev=true` to the outer frame URLs you can get the debug display back

@elagerway If you want further skinning (input fields, buttons etc .. for federated login we can get alexey to do it.

[2013-10-17 21:15] #36 closed, assigned to nobody

[2013-10-17 22:20] cadorn commented on #37
Not true. It is sent just before.

[2013-10-17 23:33] cadorn opened #38 "Facebook login, logout, facebook login not working"
After logging in again UI is stuck on `Opening login page ...`.

Example: http://legacy.instances.system.hookflash.com/logs#identity-cpp-1382052405443-net.cadorn.hookflash.app1-67RlEb3zNtxxx-1384644391-e218309be1xxx
From line `unable to associate identity as already shutdown` down is relogin.

[2013-10-17 23:34] cadorn commented on #37
Before I can test

I need: https://github.com/openpeer/op-identity-provider-server-php/issues/38

[2013-10-17 23:42] cadorn commented on #37
Not true. No visible notification is sent again until for grant service.

[2013-10-17 23:46] cadorn commented on #37
@elagerway It seems like first facebook login sequence is as fast as possible in terms of taking code paths. Re-login I cannot test until https://github.com/openpeer/op-identity-provider-server-php/issues/38 is fixed. We should get a 30% to 50% speedup after optimizing these pages which I can do after we have a new stack up and I have the opjs init sequence updated.

[2013-10-18 00:00] elagerway commented on #37
looks good so far woot! :)

[2013-10-21 09:07] adriano-maljkovic opened #39 "DB Schemas Dumping Wrong DBs"
https://github.com/openpeer/op-identity-provider-server-php/commit/9477369ad1e74010e493e59729a2407df78d7708

https://github.com/openpeer/op-identity-provider-server-php/commit/8b380e0f5172f8ffae8843a4a58a21b9f322dc7b

In these commits ^^ wrong DBs have been dumped. Inside the op-identity-provider-server-php project no DB but the one called 'provider_db' can be dumped. This is a public repo and can

[2013-10-21 12:53] adriano-maljkovic commented on #38
The scenario isn't completely clear here. What I tried is:
1. Login using fb identity for the first time
2. Kill app
3. Deploy app
4. Login using the same fb identity
And it works. It would be better if you provide actual scenario through steps, since I'm not sure if I understand it from what's put here in the ticket.

[2013-10-21 13:20] robin-raymond commented on #38
@cadorn I'm not clear in the scenario either

I see this in the log:
core::Account [11] shutdown called

That only happens if the GUI wants the application to shutdown. When that happens, ever identity loaded and associated to this core account will shutdown as well.

From what I see in the logs, the GUI seems to have been shutdown, then after the shutdown was complete, another identity was added

[2013-10-21 13:42] adriano-maljkovic commented on #38
@robin-raymond should I re-assign?
And, if so, to whom?

Also, might this be an attempt to associate fb account with another fb account? (Which isn't supported yet)

[2013-10-21 13:48] #34 closed, assigned to nobody

[2013-10-21 13:59] adriano-maljkovic commented on #12
Invalid due to business logic changed

[2013-10-21 13:59] #12 closed, assigned to nobody

[2013-10-21 14:05] adriano-maljkovic commented on #33
@robin-raymond where do you want me to define messages between system entities? In annex-rolodex maybe?

[2013-10-21 17:35] cadorn commented on #38
By `Logout` I mean _Settings Tab_ -> _Logout Button_. By it works I mean goes through login sequence and contacts show. I never killed/exited the app.

[2013-10-21 17:36] robin-raymond commented on #38
@cadorn think this is a GUI problem by not "forgetting" the already shutdown core::Account

[2013-10-22 02:21] #39 closed, assigned to nobody

[2013-10-22 20:15] cadorn opened #40 "Remove `reload=true` usage if possible"

[2013-10-22 20:16] cadorn commented on #8
URL is clean now.
Tracking `reload=true` issue here #40

[2013-10-22 20:16] #8 closed, assigned to nobody

[2013-10-28 11:29] adriano-maljkovic commented on #33
@cadorn @robin-raymond https://github.com/openpeer/hcs-system/blob/master/architecture/servers/HCS%20protocol%20-%20Identity%20Provider,%20Federated%20Contacts%20Per%20Application.md

The idea is to make minimal changes in the existing pattern of messages that are used in ...-contacts-get scenarios, such as facebook.

So, everything stays the same as fb contacts, there is only one additional messa

[2013-10-28 14:49] adriano-maljkovic opened #41 "Test Environment Provisioning"
Need an environment to start working on this. (code is almost complete, need to test)

[2013-10-28 14:50] adriano-maljkovic commented on #33
almost code-complete

[2013-10-28 14:51] adriano-maljkovic opened #42 "Save Raw `appid`"

[2013-10-28 14:52] adriano-maljkovic opened #43 "Document Federated Cloud Contacts"

[2013-10-28 14:53] adriano-maljkovic commented on #43
https://github.com/openpeer/hcs-system/blob/master/architecture/servers/HCS%20protocol%20-%20Identity%20Provider,%20Federated%20Contacts%20Per%20Application.md

[2013-10-28 14:53] #43 closed, assigned to nobody

[2013-10-28 14:54] adriano-maljkovic opened #44 "Avatars on ID Provider"

[2013-10-28 14:55] adriano-maljkovic opened #45 "Profiles And VProfiles"

[2013-10-28 15:04] robin-raymond commented on #44
Can you provide more details on these kind of tickets so some one else reading knows what they are about? Thanks.

[2013-10-30 12:39] adriano-maljkovic commented on #44
Some of the work is certainly done, so this ticket is regarding making sure these aren't missing:
- avatars need to be upload-able on sign-up page form
- mechanism to store avatars upon upload
- avatars parameter in `sign-up` API call (with it's support on both JS and PHP sides)
- avatars need it's space in identity provider's database
- avatars should be part of `hosted-identity-update` API call

[2013-10-30 12:44] adriano-maljkovic commented on #45
Make sure these are supported:
- profiles and v-profiles url and content generation upon `sign-up` API call
- send profile and v-profile urls as parameters inside `hosted-identity-update` API call
- make profiles and v-profiles storage possible

[2013-10-30 13:29] adriano-maljkovic commented on #42
Fix the server to be able to extract the raw appid and work with it instead of the full appid given in requests.

[2013-11-06 17:00] cadorn commented on #41
@adriano-maljkovic good for this now?

[2013-11-07 13:21] adriano-maljkovic commented on #41
@cadorn yes, closing

[2013-11-07 13:21] #41 closed, assigned to nobody

[2013-11-08 12:41] adriano-maljkovic commented on #42
code complete

[2013-11-12 16:40] cadorn opened #46 "Identity Provider Refactor and cleanup"
$depends https://github.com/openpeer/hcs-system-tests/issues/1

[2013-11-14 12:23] adriano-maljkovic commented on #42
tested. fixed.

[2013-11-14 12:23] #42 closed, assigned to nobody

[2013-11-14 12:55] adriano-maljkovic opened #47 "Cascade Delete Wont Work"
Scenario:
1. `sign-up` a user against identity provider (let's say federated)
2. try deleting the user using SQL:
`delete from user where user_id=<USER_ID>`
3. It will be deleted in `user` table, but remains forever in `federated` table.

[2013-11-14 13:24] adriano-maljkovic commented on #47
fixed

[2013-11-14 13:24] #47 closed, assigned to nobody

[2013-11-15 19:02] robin-raymond opened #48 "ID provider .well-known/openpeer-services-get GET"
https://idprovider.com/.well-known/openpeer-services-get

This request should ALWAYS be hit as a GET request. The 302 redirect that happens after this request will be sent to a different URL whereupon a POST request will be issued with the original domain.

Thus for hosting scenarios, it will hit identity provider like this as a GET (without a "request" payload):
https://idprovider.com/.well-known

[2013-11-18 12:23] adriano-maljkovic commented on #48
@robin-raymond Let me sum up what I understand from this issue description.

The only differences are:
1. `services-get` on identity provider isn't being called by POST, but by GET.
2. `services-get` on HCS is going to be on `<hcs-domian>/services-get` instead of `<hcs-domain>/.wel-known/openpeer-services-get`.

And by this, I mean there is no difference in the result of the first `services-get`:

[2013-11-18 13:26] adriano-maljkovic commented on #48
php code complete by: https://github.com/openpeer/op-identity-provider-server-php/commit/a065a4f4097f19baae50d166221bc3a2f47eef96
test here: http://identity-v1-adriano-maljkovic-i.hcs.io/php/.well-known/openpeer-services-get.php
- Still need to add a proxy pass

[2013-11-18 13:50] adriano-maljkovic commented on #48
added proxy: http://identity-v1-adriano-maljkovic-i.hcs.io/.well-known/openpeer-services-get

@robin-raymond If you agree with https://github.com/openpeer/op-identity-provider-server-php/issues/48#issuecomment-28693953, this issue is fixed. Thus, re-assigning back to you.

[2013-11-18 18:38] cadorn commented on #48
Right; and `<hcs-domain>/.wel-known/openpeer-services-get` should return 404 if we don't need to advertise anything.

[2013-11-18 18:51] robin-raymond commented on #48
@adriano-maljkovic correct summary, but @cadorn is right, we should return 404 on hcs domain if we don't advertise any services at all for the hcs domain or only return services we would advertise if someone did services-get on hcs domain for the hcs domain.

[2013-11-19 09:24] adriano-maljkovic commented on #48
_"Right; and <hcs-domain>/.wel-known/openpeer-services-get should return 404 if we don't need to advertise anything."_
- this is already solved by a proper redirect on HCS - since the `.well-known` does not exist nor as page nor proxy on that server: http://hfservice-v1-adriano-maljkovic-i.hcs.io/.well-known/openpeer-services-get

[2013-11-19 09:26] adriano-maljkovic commented on #48
@robin-raymond we agree on all aspects, implementation is in place - closing issue

[2013-11-19 13:31] adriano-maljkovic opened #49 "Avatars Upload on Sign Up Page"
Provide a way to upload avatars on sign-up page.
connected issue: https://github.com/openpeer/op-identity-provider-server-php/issues/44

[2013-11-19 13:31] adriano-maljkovic commented on #44
fixed

[2013-11-19 13:31] #44 closed, assigned to nobody

[2013-11-20 21:06] adriano-maljkovic commented on #49
There is existing mechanism here on server side: https://github.com/openpeer/op-identity-provider-server-php/blob/master/server/var/www/idprovider.com/public/php/service/upload_avatar.php

connected with this: https://github.com/openpeer/op-identity-provider-server-php/blob/master/server/var/www/idprovider.com/app/php/main/utils/uploadUtil.php

Please check if it's ok on server side, too.

[2013-11-29 11:59] SergioOpenPeer opened #50 "IAccount shutdown state nevere riched"
Scenario:
- Login
- Logout - Shutdown for account is called but it never gets in shutdown state. (app didn't crash)
  Log: http://legacy.instances.system.hookflash.com/logs#identity-cpp-1385724548082-com.hookflash.SergejSampleApp-j5n5rWQstUxxx-1388315097-a8b0a05a72xxx
- After app is manually closed, new login is started but app crashed. Before app is crashed IAccount get in Shutting down, but neve

[2013-11-29 13:05] #50 closed, assigned to robin-raymond

[2013-11-29 13:05] SergioOpenPeer commented on #50
wrong project

[2013-12-02 05:17] cadorn commented on #37
good enough for now

[2013-12-02 05:17] #37 closed, assigned to nobody

[2013-12-03 20:15] cadorn opened #51 "Test Page"
Create a new page at `/test-service` that I can hit with a POST request to test the identity provider setup.

It should try to connect to mysql and maybe do some other things and then return with 200 if ok or 500 if not.

[2013-12-07 23:59] robin-raymond commented on #48
Search code for:

[code]

When this feature goes live.

[2013-12-09 18:38] adriano-maljkovic commented on #51
@cadorn it is done by GET and is working on `/test/service.php`. Please provide the list of tests that need to be performed.

[2013-12-09 18:52] cadorn commented on #51
POST should work too so I can force a reload of the page (in case request goes through a proxy).

Mysql test is good enough for now.

[2013-12-12 20:01] cadorn commented on #51
@adriano-maljkovic Only return status `200` if ALL tests pass. If anything fails return status `500`.

[2013-12-12 23:37] adriano-maljkovic commented on #51
@cadorn error status should now be in place. Still to support POST..

[2013-12-13 15:44] adriano-maljkovic commented on #51
Fixed

[2013-12-13 15:44] #51 closed, assigned to nobody

[2013-12-16 13:26] adriano-maljkovic commented on #13
fixed long ago

[2013-12-16 13:26] #13 closed, assigned to nobody

[2014-01-09 16:27] #45 closed, assigned to nobody

[2014-01-14 17:31] cadorn opened #52 "singup form is still a bit glichy"
singup form is still a bit glichy on the new instance, I can make it work but it often boots me out of the cell I'm typing in for unknown reasons

@robin-raymond FYI

[2014-01-25 00:48] cadorn opened #53 "Login breaks if facebook login fails"
If on facebook you click login twice or facebook login fails for some other reason, our side needs to act accordingly.

At the moment it seems to just hang.

[2014-01-25 09:21] adriano-maljkovic commented on #53
What do you suggest? How can we workaround best? Whose task do you think this should be? Let's break it down together on Monday.

[2014-01-30 20:46] adriano-maljkovic commented on #11
Fixed earlier

[2014-01-30 20:46] #11 closed, assigned to nobody

[2014-01-30 20:49] adriano-maljkovic opened #54 "After Facebook Sign Up -> `user` Table Has Empty `updated` Field"
$related https://github.com/openpeer/hcs-instance-v1/issues/271

[2014-01-30 20:51] adriano-maljkovic opened #55 "After Facebook Sign Up -> `legacy_oauth` Table Has Empty `avatar_url` Field"
$related openpeer/hcs-instance-v1#271

[2014-01-30 20:52] adriano-maljkovic opened #56 "After Facebook Sign Up -> `legacy_oauth` Table Has `updated` Field Set To `0`"
$related openpeer/hcs-instance-v1#271

[2014-01-30 20:54] adriano-maljkovic opened #57 "After Facebook Sign Up -> `legacy_oauth` Table Has Some `NULL` Values"
$related openpeer/hcs-instance-v1#271

Fields `secret_encrypted`, `secret_salt` and `server_password_salt` are set to `NULL`.

Investigate:
- if needs to be set, fix
- if these aren't needed, throw out

[2014-01-30 21:05] adriano-maljkovic commented on #54
Can't reproduce. Closing for now

[2014-01-30 21:05] #54 closed, assigned to nobody

[2014-01-30 21:17] adriano-maljkovic commented on #55
@cadorn do we need it here at all? **(Since it's going to be Rolodex' part anyway)**

Re-assigning to you and making a question ticket now.

[2014-01-30 21:28] adriano-maljkovic commented on #56
Fixed

[2014-01-30 21:28] #56 closed, assigned to nobody

[2014-01-30 21:41] adriano-maljkovic commented on #57
Kicking these out : proclaimed not needed!

[2014-01-30 21:41] #57 closed, assigned to nobody

[2014-01-31 17:46] adriano-maljkovic commented on #55
Closing this one as won't fix for now.

[2014-01-31 17:46] #55 closed, assigned to nobody

[2014-02-04 19:45] cadorn commented on #30
@adriano-maljkovic What do you think about @no-glue tackling this with your support?

[2014-02-05 13:13] adriano-maljkovic commented on #30
@cadorn Seems regular to me. @no-glue Setup a meeting, we can go through the steps before you start implementing.

[2014-02-05 13:13] adriano-maljkovic commented on #30
Assigning to @no-glue

[2014-02-08 00:18] cadorn commented on #33
See: https://github.com/openpeer/rolodex/issues/29

[2014-02-08 00:18] #33 closed, assigned to nobody

[2014-05-15 11:49] adriano-maljkovic commented on #46
https://docs.google.com/a/hookflash.com/document/d/1FVUfYjjRiKBk9FaC1FVKCGTH5AqHlzmlnG79ByQiflc/edit

[2014-05-15 22:50] adriano-maljkovic opened #59 "Document: Identity Provider From The Eyes of a Customer"
$feature #46

[2014-05-16 00:03] elagerway commented on #59
That needs to happen on docs.hookflash.com

[2014-05-16 00:09] elagerway commented on #59
@adriano-maljkovic I have sent you your credentials for docs.hookflash.com via passpack

[2014-05-16 00:11] elagerway commented on #59
Also, let's not tackle OAuth right now, focus on customer DB integration.

[2014-05-16 00:39] cadorn commented on #59
@adriano-maljkovic for the purpose of the docs, please use https://www.digitalocean.com and create a server using the [LAMP stack](https://www.digitalocean.com/features/one-click-apps/), then document everything you have to do to setup an ID provider connected to the mysql DB and register it in customer portal to downloading app in apptore and scanning QR code to hit hcs backend server configured

[2014-05-16 04:57] elagerway commented on #59
Shared Dev, Live & Ops accounts via passpack for Digital Ocean with you @adriano-maljkovic

[2014-05-16 10:58] adriano-maljkovic commented on #59
@elagerway I need access to the emails we use for digital cloud, we received root password there...

The e-mail I've used is:
`digitalocean-stage@hookflash.com`

[2014-05-16 11:08] adriano-maljkovic commented on #59
_Update:_
- created droplet `example.identity.dev`

[2014-05-19 19:05] adriano-maljkovic opened #60 "Refactor Identity Type Names Throughout The Project"
$feature #46

`federated` = `custom`
`legacyOAuth` = `social`
`legacy` stays the same

[2014-05-19 20:14] adriano-maljkovic commented on #60
_Update:_
- done for php - server side
- now to do for js - client side

[2014-05-21 11:45] #60 closed, assigned to nobody

[2014-05-21 11:49] OrahKokos opened #61 "Refactoring/ Adding Profile options"
$feature https://github.com/openpeer/op-identity-provider-server-php/issues/46
- Profile get -> $related https://github.com/openpeer/op-identity-provider-server-php/issues/62
- Profile update -> $related https://github.com/openpeer/op-identity-provider-server-php/issues/63
- Password change (lockbox true) -> $related https://github.com/openpeer/op-identity-provider-server-php/issues/64
- Cloud con

[2014-05-21 11:52] OrahKokos opened #62 "Profile get"
$feature https://github.com/hookflashco/hcs-stack/issues/49

Make sure profile get is working.

[2014-05-21 11:53] OrahKokos opened #63 "Make profile update"
$feature https://github.com/hookflashco/hcs-stack/issues/49

Hosted identity update (Our side) and make profile update on IDprovider (local).

[2014-05-21 11:54] OrahKokos opened #64 "Make password reset"
$feature https://github.com/hookflashco/hcs-stack/issues/49

Make password reset for local IDprovider, also next time user tries to login add lockbox:true (only in case of reset password)

[2014-05-21 11:55] OrahKokos opened #65 "Cloud contacts get"
$feature https://github.com/hookflashco/hcs-stack/issues/49

Get contacts from local DB (same appid)

[2014-05-21 11:58] OrahKokos opened #66 "To test"
Test custom and facebook, Signup, Login, Relogin
$related https://github.com/openpeer/op-identity-provider-server-php/issues/46

[2014-05-22 09:27] adriano-maljkovic opened #67 "Distinguish Login Scenario"
$feature https://github.com/hookflashco/hcs-stack/issues/49

Distinguish between these two scenarios:
- outer -> inner (identity-access-start) sort of login
- login via browser get to login page

If a login sequence has initially began with an `identity-access-start` then everything will end with an `identity-access-complete`. No redirection to profile page will happen!

If, however, there was no

[2014-05-22 09:34] adriano-maljkovic opened #68 "Profile Page + Basic Manipulation Features"
$feature https://github.com/hookflashco/hcs-stack/issues/49
$related #67

Profile page is a page that is presented to a regular logged in user.

It's URL is generated upon sign-up and stored in the database.

Profile page should be able to present user's data:
- avatar
- display name
- username

Also, profile page is public, but in it's public form it only presents public data. But for logged in u

[2014-05-22 09:49] adriano-maljkovic opened #69 "Lost Password Scenario"
$feature https://github.com/hookflashco/hcs-stack/issues/49

Lost password is a button shown on login page.

It will present a simple frontend page with userame and e-mail on which to send new password, like this:

---

username: [_______________________]
e-mail: [__________________________]

[code]

---

Upon e-mail receiving, the user will follow the URL in the e-mail that will take him to the r

[2014-05-22 09:51] adriano-maljkovic opened #70 "Which Exact Scenarios Include `lockbox-reset` Flag To Get Set To `true`?"
$feature https://github.com/hookflashco/hcs-stack/issues/49
$related #69
$related #68

[2014-05-22 09:55] adriano-maljkovic commented on #64
$related #69
$related #70

[2014-05-22 09:56] adriano-maljkovic commented on #61
$related #68

[2014-05-22 09:57] adriano-maljkovic commented on #66
Yes, but for sign-up also check if you can set avatars and display name and if it's all well set in the db afterwards.

[2014-05-29 14:26] #59 closed, assigned to nobody

[2014-05-29 14:28] #61 closed, assigned to nobody

[2014-05-29 14:33] #46 closed, assigned to nobody

[2014-05-29 17:47] arasbm opened #71 "Document how to setup php identity provider server from scratch"
$feature https://github.com/hookflashco/hcs-stack/issues/49

Main doc page: http://docs.hookflash.com/display/09262013/Setting+up+identity+provider+examples+on+your+own+server

[2014-05-29 17:48] arasbm opened #72 "Document how to setup php identity provider server on digital ocean"
$feature https://github.com/hookflashco/hcs-stack/issues/49

main doc page: http://docs.hookflash.com/display/09262013/Setting+up+identity+provider+examples+on+digital+ocean

[2014-05-29 17:51] arasbm opened #73 "Document - in the README file, how to get this server up"
$feature https://github.com/hookflashco/hcs-stack/issues/49

In the readme file, briefly list the steps required to install this server. Link to full documentation on docs.hookflash.com

[2014-05-30 18:11] cadorn opened #74 "Put TPL path into config variable"
This path:

https://github.com/openpeer/op-identity-provider-server-php/blob/1cd78ff84bfe4e4eff87b211323d58dce4d894e4/idprovider.com/public/login.php#L89

should be in a config variable so we can set the proper location on hcs-stack-integration.

$feature https://github.com/hookflashco/hcs-stack/issues/49

[2014-05-30 18:24] RickHeuft commented on #74
Hi Christoph.

Thanks for the heads up.  I'm assuming this means:

git config --add TPL https://github.com/openpeer/op-identity-provider-server-php/blob/1cd78ff84bfe4e4eff87b211323d58dce4d894e4/idprovider.com/public/login.php#L89

Do I just have to do this just once?

Do I have to clone the repo again?

[2014-05-30 18:49] cadorn commented on #74
@RickHeuft I think you are getting a few concepts confused.

The issue is about a config option that needs to be added in the code.

You seem to be asking about how to pull changes to code using git?

[2014-05-30 18:53] RickHeuft commented on #74
Sorry.  I got the email just moments after doing my first clone so I thought is was intended for me.

[2014-05-30 18:53] elagerway commented on #74
Rick, please do not close issues not assigned to you.

[2014-06-01 08:52] adriano-maljkovic commented on #74
done:

http://hcs-stack-integration-php-ib07591e-0.vm.opp.me/op-identity-provider-server-php/login.php

[2014-06-01 08:52] #74 closed, assigned to nobody

[2014-06-04 17:37] arasbm commented on #71
I had a brainstorming session with @adriano-maljkovic and @Halve this morning about the paths we will provide in hookflash docs. We identify three different paths:
1. using preconfigured images
   This will be a short section explaining that we have images ready for them to try and will point to https://github.com/hookflashco/hcs-stack-integration readme and maybe to an example homepage doc of one

[2014-06-04 18:44] elagerway commented on #71
I think we need to do whatever we can to make the integration and deployment of their id model as easy as possible and be as flexible as possible.  @robin-raymond what do u think?

[2014-06-04 18:48] robin-raymond commented on #71
@arasbm @adriano-maljkovic I'd like to have a call at some point (either later today [after 6pm EST] or tomorrow) so I can understand exactly what you are trying to do. In general I agree with @elagerway 's comment but I'd like to understand better the "choices" being offered before I render an opinion.

[2014-06-04 19:18] arasbm commented on #71
I'll try to provide a bit more background with my limited understanding. I had thought originally that the path for a customer to achieve a custom implementation of identity provider (on their own servers with own database and users) will start with cloning one of our identity provider examples and then tweaking it to get it to work with their own database. However, when talking to @adriano-maljko

[2014-06-05 10:21] adriano-maljkovic opened #76 "Clean the legacy support features still there"
$feature https://github.com/hookflashco/hcs-stack/issues/49

make sure the database does not have `legacy_email` nor `legacy_phone` tables for now.

[2014-06-05 11:03] #76 closed, assigned to nobody

[2014-06-05 13:53] OrahKokos commented on #62
Not needed for minimal release.

[2014-06-05 13:53] OrahKokos commented on #63
Not needed for minimal release.

[2014-06-05 20:15] OrahKokos commented on #62
Needs more detail on this one.

[2014-06-05 20:15] OrahKokos commented on #63
Needs more detail on this one.

[2014-06-05 21:10] arasbm commented on #71
After the meeting today, my understanding is that we are not focusing on documenting this path and instead we are creating example oAuth implementation here: https://github.com/hookflashco/hcs-stack-customer-oauth which will be the starting point for new clients trying to integrate their user base with our identity provider server.

[2014-06-05 21:10] #71 closed, assigned to nobody

[2014-06-11 14:48] adriano-maljkovic commented on #72
We are not going to do this now...

[2014-06-11 14:48] #72 closed, assigned to nobody

[2014-06-11 14:50] #73 closed, assigned to nobody

[2014-08-08 00:13] #70 closed, assigned to robin-raymond

[2014-08-08 00:14] #67 closed, assigned to nobody

[2014-08-08 00:15] #65 closed, assigned to nobody

[2014-08-08 00:15] #62 closed, assigned to nobody

[2015-02-19 23:16] #6 closed, assigned to nobody

[2015-02-19 23:16] #7 closed, assigned to nobody

[2015-02-19 23:16] #9 closed, assigned to nobody

[2015-02-19 23:16] #18 closed, assigned to nobody

[2015-02-19 23:16] #30 closed, assigned to nobody

[2015-02-19 23:16] #31 closed, assigned to nobody

[2015-02-19 23:16] #38 closed, assigned to nobody

[2015-02-19 23:16] #40 closed, assigned to nobody

[2015-02-19 23:16] #48 closed, assigned to robin-raymond

[2015-02-19 23:16] #49 closed, assigned to nobody

[2015-02-19 23:16] #52 closed, assigned to nobody

[2015-02-19 23:16] #53 closed, assigned to nobody

[2015-02-19 23:16] #63 closed, assigned to nobody

[2015-02-19 23:16] #64 closed, assigned to nobody

[2015-02-19 23:16] #66 closed, assigned to nobody

[2015-02-19 23:16] #68 closed, assigned to nobody

[2015-02-19 23:16] #69 closed, assigned to nobody